<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344375107091-4cs8p66sl6vvqfpbqoaqlbcm6firr5im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344375107091-4cs8p66sl6vvqfpbqoaqlbcm6firr5im</string>
	<key>API_KEY</key>
	<string>AIzaSyDHTWdP_CP7FhY0fzkh1GWlGhLBnkwkRZg</string>
	<key>GCM_SENDER_ID</key>
	<string>344375107091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyApp</string>
	<key>PROJECT_ID</key>
	<string>finalauth-58d43</string>
	<key>STORAGE_BUCKET</key>
	<string>finalauth-58d43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344375107091:ios:a0ee08d532fba68f</string>
	<key>DATABASE_URL</key>
	<string>https://finalauth-58d43.firebaseio.com</string>
</dict>
</plist>